<p id="notice"><%= notice %></p>

<h1 class="chapter"><%= @list.title %></h1>

<p>
  <%= @list.description %>
</p>

<em>Curated by <%= @list.author %></em>


<% @list.articles.each do |article| %>
  <%= render template: 'articles/show', locals: { article: article } %>
<% end %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
